<div class="my-2 flex items-center <%= styles[:container] %> %> border font-bold px-4 py-3 rounded font-normal" role="alert">
  <i class="fas <%= styles[:icon] %> mr-2"></i>
  <p class="font-normal"><%= text %></p>
</div>
